@page
@using Microsoft.Extensions.Caching.Memory
@using Singularity.Models
@using Singularity.Pages.AboutUs;

@inject IMemoryCache _cache

@model IndexModel

@section Scripts {
    <script>
        var requiresData = true;
    </script>
}

@if (Model.GuildSummary != null)
{
    @if (Model.GuildSummary.Roster != null && Model.GuildSummary.Roster.Members != null)
    {
        
        var guildLeader = Model.GuildSummary.Roster.Members.FirstOrDefault(s => s.Rank ==
        (int)GuildViewModel.Roles.GuildLeader);
        if (guildLeader != null)
        {
            <div class='div-content'>
            <div class="title-bar">
                 <h2 class="title-text">Guild Leader</h2>
     </div> 
    <div class="raid-grid">
            @Html.Partial("_LeadershipDetails", guildLeader)
    </div>
    </div>    
        }
        var banker = Model.GuildSummary.Roster.Members.FirstOrDefault(s => s.Rank == (int)GuildViewModel.Roles.Banker);
        if (banker != null)
        {
        <div class='div-content'>
        <div class="title-bar">
                 <h2 class="title-text">Treasurer</h2>
        </div> 
         <div class="raid-grid">   
            @Html.Partial("_LeadershipDetails", banker)
        </div>
        </div>
        } 
        var officers = Model.GuildSummary.Roster.Members.Where(s => s.Rank == (int)GuildViewModel.Roles.Officer);
        if (officers != null && officers.Any())
        {
            <div class='div-content'>
            <div class="title-bar">
                 <h2 class="title-text">Officers</h2>
     </div> 
        <div class="raid-grid">
            @foreach (var member in officers)
            {
                @Html.Partial("_LeadershipDetails", member)
            }
        </div>
        </div>    
        }

        var raidLeaders = Model.GuildSummary.Roster.Members.Where(s => s.Rank == (int)GuildViewModel.Roles.RaidLeader);
        if (raidLeaders.Any())
        {
            <div class='div-content'>
             
            <div class="title-bar">
                 <h2 class="title-text">Raid Leaders</h2>
     </div> 
        <div class="raid-grid">
            @foreach (var member in raidLeaders)
            {
                @Html.Partial("_LeadershipDetails", member)
            }
        </div>
        </div>
        }  
    }
    else
    {
        @Html.Partial("_DataLoading")
    }
}
else
{
    @Html.Partial("_DataLoading")
}