@page
@using Microsoft.Extensions.Caching.Memory
@using Singularity.Models
@using Singularity.Pages.AboutUs;

@inject IMemoryCache _cache

@model IndexModel

@section Scripts {
    <script>
        var requiresData = true;
    </script>
}
<div class='show-footer3'></div>
@if (Model.GuildSummary != null)
{
    @if (Model.GuildSummary.Roster != null && Model.GuildSummary.Roster.Members != null)
    {
        var guildLeader = Model.GuildSummary.Roster.Members.FirstOrDefault(s => s.Rank ==
        (int)GuildViewModel.Roles.GuildLeader);
        if (guildLeader != null)
        {
            <div class='title-bar'>
                <div class='title-name'>
                    <h1 class='title-text'>Guild Leader</h1>
                </div>
            </div>
            @Html.Partial("_MemberDetails", guildLeader)
        }

        var officers = Model.GuildSummary.Roster.Members.Where(s => s.Rank == (int)GuildViewModel.Roles.Officer);
        if (officers != null && officers.Any())
        {
            <div class='title-bar'>
                <div class='title-name'>
                    <h1 class='title-text'>Officers</h1>
                </div>
            </div>

            @foreach (var member in officers)
            {
                @Html.Partial("_MemberDetails", member)
            }
        }

        var raidLeaders = Model.GuildSummary.Roster.Members.Where(s => s.Rank == (int)GuildViewModel.Roles.RaidLeader);
        if (raidLeaders.Any())
        {
            <div class='title-bar'>
                <div class='title-name'>
                    <h1 class='title-text'>Raid Leaders</h1>
                </div>
            </div>

            @foreach (var member in raidLeaders)
            {
                @Html.Partial("_MemberDetails", member)
            }
        }

        <div class='title-bar'>
            <div class='title-name'>
                <h1 class='title-text'>Treasurer</h1>
            </div>
        </div>

        var banker = Model.GuildSummary.Roster.Members.FirstOrDefault(s => s.Rank == (int)GuildViewModel.Roles.Banker);
        if (banker != null)
        {
            @Html.Partial("_MemberDetails", banker)
        }
    }
    else
    {
        @Html.Partial("_DataLoading")
    }
}
else
{
    @Html.Partial("_DataLoading")
}
